{% extends "base.html" %}

{% block layout %}
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">TB</h1>

        </div>
        <h3>Welcome to Timber Base Invoice App</h3>
        <p>Quickly implemented based on a prevoiusly owned template.
        </p>
        <form class="m-t" role="form" method="post" id="login-form">
            {% csrf_token %}
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <!-- <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a> -->
        </form
    </div>
</div>
{% endblock %}
