{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Timber Base Invoice App{% endblock %}</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">

    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>

<body>

    {% block layout %}{% endblock %}

    <!-- Mainly scripts -->
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static "js/inspinia.js" %}"></script>
    <script src="{% static "js/plugins/pace/pace.min.js" %}"></script>
    <script src="{% static "js/invoice/profile.js" %}"></script>
    <script type="text/javascript">
        var drf_token = "{{ token }}";
        var user_id = "{{ request.user.id }}";
    </script>

    {% block extra_js %}{% endblock %}

</body>
</html>
