{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Your client list</h5>
            </div>
            <div class="ibox-content">

                <div>
                    <div id="client-list" class="feed-activity-list">
                    </div>
                    <button id="add-client-btn" class="btn btn-primary btn-block m-t"><i class="fa fa-plus"></i> Add client </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/invoice/clients.js" %}"></script>
{% endblock %}
