{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Invoice items</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-hover margin bottom">
                    <thead>
                        <tr>
                            <th>Description - Unit cost</th>
                            <th class="text-center">Qty / Hr rate</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="create-items-content">

                    </tbody>
                </table>
                <button id="add-item-btn" class="btn btn-primary btn-block m-t"><i class="fa fa-plus"></i> Add item </button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Invoice information</h5>
            </div>
            <div class="ibox-content">
                <div id="create-form-content">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/invoice/create.js" %}"></script>
{% if invoice_id %}
<script type="text/javascript">
    var invoice_id = "{{ invoice_id }}";
</script>
{% endif %}
{% endblock %}
