{% extends "layout.html" %}
{% load static %}
{% block content_header %}
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <h2>Welcome {{ user.username }}</h2>
        <small>Recent invoices:</small>
        <ul id="invoice-list" class="list-group clear-list m-t">
        </ul>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static "js/invoice/dashboard.js" %}"></script>
{% endblock %}
