<form id="{{ form_id }}" method="post">
    {% csrf_token %}
    {{ form }}
    <!-- <input type="submit" value="{{ btn_str }}" class="btn btn-sm btn-primary"> -->
    <br>
    <button type="submit" id="{{ form_button_id }}" type="button" class="btn btn-primary"></button>
</form>
