{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox-content p-xl">
                <div id="pdf-div">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>From:</h5>
                            <address id="owner-address">
                            </address>
                        </div>

                        <div class="col-sm-6 text-right">
                            <h4>Invoice No.</h4>
                            <h4 class="text-navy" id="invoice-id"><br></h4>
                            <span>To:</span>
                            <address id="client_address">
                            </address>
                            <p>
                                <span><strong>Invoice Date:</strong><div id="issue-date"></div></span><br>
                                <!-- <span><strong>Due Date:</strong> March 24, 2014</span> -->
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table invoice-table">
                            <thead>
                            <tr>
                                <th>Item List</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody id="item-table">
                            </tbody>
                        </table>
                    </div><!-- /table-responsive -->

                    <table class="table invoice-total">
                        <tbody>
                        <tr>
                            <td><strong>Sub Total :</strong></td>
                            <td id="subtotal"></td>
                        </tr>
                        <tr>
                            <td><strong>TAX :</strong></td>
                            <td id="tax"></td>
                        </tr>
                        <tr>
                            <td><strong>TOTAL :</strong></td>
                            <td id="total"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="well m-t"><strong>Terms</strong>
                        <div id="terms"></div>
                    </div>
                </div>
                <div class="text-right">
                    <button id="pdf-btn" class="btn btn-primary"><i class="fa fa-pdf"></i> Generate PDF</button>
                </div>
            </div>
      </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/invoice/invoice.js" %}"></script>
<script type="text/javascript">
    var invoice_id = "{{ invoice_id }}";
</script>
{% endblock %}
