{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Your item list</h5>
            </div>
            <div class="ibox-content">

                <div>
                    <div id="item-list" class="feed-activity-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/invoice/items.js" %}"></script>
{% endblock %}
