{% extends "base.html" %}

{% block layout %}
<div id="wrapper">

    <div class="modal inmodal" id="modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
                <div id="modal-title" class="modal-header">

                </div>
                <div id="modal-content" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                            <span class="text-muted text-xs block">menu <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a id="profile-a"class="dropdown-item">Profile</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li {% if request.path == "/main/dashboard/" %}class="active"{% endif %}>
                    <a href="/main/dashboard/"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                <li {% if request.path == "/main/clients/" %}class="active"{% endif %}>
                    <a href="/main/clients/"><i class="fa fa-address-book"></i> <span class="nav-label">Clients</span> </a>
                </li>
                <li {% if request.path == "/main/items/" %}class="active"{% endif %}>
                    <a href="/main/items/"><i class="fa fa-cubes"></i> <span class="nav-label">Items</span> </a>
                </li>
                <li {% if request.path == "/main/invoices/" %}class="active"{% endif %}>
                    <a href="/main/invoices/"><i class="fa fa-files-o"></i> <span class="nav-label">Invoices</span> </a>
                </li>
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="/accounts/logout/">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        {% block content_header %}
        {% endblock %}
        <div class="wrapper wrapper-content animated fadeInRight">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                Developed by <strong>Nicolas Balcero</strong>
            </div>
        </div>

    </div>
</div>
{% endblock %}
