{% extends "easy_pdf/base.html" %}
{% load static %}
{% block extra_style %}
    <link href="http://{{ request.get_host }}{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="http://{{ request.get_host }}{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <link href="http://{{ request.get_host }}{% static "css/animate.css" %}" rel="stylesheet">
    <link href="http://{{ request.get_host }}{% static "css/style.css" %}" rel="stylesheet">
    <style>
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="main">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content p-xl">
                            <div id="pdf-div">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>From:</h5>
                                        <address>
                                            <strong>{{ invoice.owner.user.first_name|add:' '|add:invoice.owner.user.last_name }}<br></strong><br>
                                            {{invoice.owner.address1}}<br><br>
                                            {{invoice.owner.address2}}<br> {{invoice.owner.zipcode}}<br><br>
                                            {{invoice.owner.phone}}<br>
                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <h4>Invoice No.</h4>
                                        <h4 class="text-navy">{{ invoice.id }}<br></h4>
                                        <span>To:</span>
                                        <address>
                                            <strong>{{ invoice.client.first_name|add:' '|add:invoice.client.last_name }}<br></strong><br>
                                            {{invoice.client.address1}}<br><br>
                                            {{invoice.client.address2}}<br> {{invoice.client.zipcode}}<br><br>
                                            {{invoice.client.phone}}<br>
                                        </address>
                                        <p>
                                            <span><strong>Invoice Date:</strong>{{invoice.issue_date}}</span><br>
                                            <!-- <span><strong>Due Date:</strong> March 24, 2014</span> -->
                                        </p>
                                    </div>
                                </div>

                                <div class="table-responsive m-t">
                                    <table class="table invoice-table">
                                        <thead>
                                        <tr>
                                            <th>Item List</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in items %}
                                            <tr>
                                                <td><div><strong>{{item.item.name}}</strong></div>
                                                    <small>{{item.item.description}}</small></td>
                                                <td>{{item.amount}}</td>
                                                <td>${{item.item.price}}</td>
                                                <td>${% widthratio item.amount 1 item.item.price %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div><!-- /table-responsive -->

                                <table class="table invoice-total">
                                    <tbody>
                                    <tr>
                                        <td><strong>Sub Total :</strong></td>
                                        <td>{{invoice.subtotal}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>TAX :</strong></td>
                                        <td>{{invoice.tax}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>TOTAL :</strong></td>
                                        <td>{{invoice.total}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="well m-t"><strong>Terms</strong>
                                {{invoice.terms}}
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
